<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do app</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>To - Do List app in Nodejs</h1>
    <br>
    <br>
    <form action="/add" method="post">
        <input type="text" name="task" placeholder="enter task " required/>
        <button type="submit">add</button>
    </form>
</body>
</html>