<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do app</title>
    <style>
        body{
            text-align: center;
            background: rgb(230,230,230);
        }
        input{
            width: 200px;
            height: 45px;
            border-radius: 10px;
            outline: none;
            border: none;
            font-size: 20px;
        }

        h1
        {
            color:burlywood;
        }

        #addbtn
        {
            width: 80px;
            height: 50px;
            outline: none;
            border: none;
            background-color:teal;
            color: white;
            cursor: pointer;
            border-radius: 10px;
        }

        li{
            font-size: 20px;
            color: teal;
            font-family:cursive;
        }

        #newbox
        {
            display: none;
        }

        button
        {
            background: transparent;
            border: none;
            cursor: pointer;
            outline: none;
        }
        button:hover
        {
            border-bottom: 2px solid teal;
        }
    </style>
</head>
<body>
    <h1>To - Do List app in Nodejs</h1>
    <br>
    <form action="/add" method="post">
        <input type="text" name="task" placeholder="enter task " required/>
        <button id="addbtn" type="submit">add</button>
    </form>
    <br>

    <% for(let i = 0; i < tasks.length; i++){ %>
      <div style="min-height: 50px;" >
        <li style="display: inline-block;"  > <%= tasks[i] %> </li>

        <form style="display: inline-block" method="post" action="/delete"><button type="submit">❌</button><input type="hidden" name="index" value=" <%= i %> "></form>
        <button onclick="showbox()" >✏️</button>

        <form action="/edit" method="post" id="newbox" name="new">
            <input type="text" name="new" >
            <button type="submit" >update</button>
        </form>
      </div>
    <% } %>

    <br>



    <script>
        function showbox(i){
            document.getElementById("newbox-" + str(i)).style.display = "inline-block";
        }
    </script>

</body>
</html>